@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header-container {
  background-color: #4CAF50;
  padding: 10px 20px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-btn {
  background-color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-btn:hover {
  background-color: #ddd;
}

.nav-btn.active {
  background-color: #eee;
}

.pizza-icon {
  width: 50px;
  height: auto;
  transform: scaleX(-1);
  position: relative;
  margin-right: 1200px;
}

