header {
  height: 10vmin;
  background-color: rgb(38, 175, 0);
  display: flex;            /* Use flexbox for layout */
  align-items: center;      /* Vertically align items to the center */
  justify-content: space-between;  /* Spread out h1 and nav */
  padding: 0 10px;          /* Optional: add some padding to give spacing */
}

h1 {
  margin-left: 4vmin;
}

button{
  height: 5vmin;
  width: 20vmin;
  margin-right: 3vmin;
  border-radius: 5px;
  font-size: medium;
}

.dbButton{
  background-color: rgb(102, 195, 65);
  color: white;
}


.App-logo {
  height: 8vmin;
  margin-left: 3vmin;
  height: 50px;
  width: auto;
  vertical-align: middle;
  pointer-events: none;
}

.Seach-bar{
  padding-left: 5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: calc(30px + 2vmin);
  color: black;
  margin-left: 5vmin;
  height: 75px;
  vertical-align: top;
}

.App-link {
  color: #61dafb;
}

table{
  width: 95%;
  margin-left: 5vmin;
  border-collapse: collapse;
}

thead{
  background-color: #6abe39;
}

tbody{
  background-color: white;
}

td{
  height: 25px;
  border: 1px solid black;
}

th{
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
