.order-history {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 10px; 
}


.order-hist {
    display: flex;
    align-items: center;
    color: #3E3E3E;
    width: 100%;
}

.order-hist h1 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}


/* Container for search bar and table */
.content-container {
    width: 100%;
    max-width: 1500px;
    margin-top: 20px;
}

/* Search Bar */
.search-container {
    width: 100%; 
    margin-bottom: 10px;
    display: flex;
}

.search-bar {
    width: 300px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

/* Table */
.table-container {
    width: 100%;
    overflow-x: auto;
}

.order-hist-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.order-hist-table th {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: 1px solid #3E3E3E;
    text-align: center;
}

.order-hist-table td {
    padding: 12px;
    border: 1px solid #3E3E3E;
    height: 10px;
}


